# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Avalonia designer
.avalonia/

# Rider/VSCode/VS
.idea/
.vscode/
.vs/

# OS files
.DS_Store
Thumbs.db

# SQLite/other local DB
*.db
*.sqlite

# Logs
*.log

# Other
*.swp
*.bak
*.tmp 